$primary: #4318ff;
$white: #ffffff;
$secondary-white: #f4f7fe;
$text-grey: #a3aed0;
$text-dark-blue: #2b3674;
$input-text: #8f9bba;
$white-grey: #e9edf7;
$dark-text: #1b2559;
$card-gradient: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
$red: #F74242;
$green: #05CD99;


//Fonts

$font-main: "DM Sans", sans-serif;
