@import "../../../styles/variables";

.label {
  fill: $text-grey;
  font-size: 14px;
}

.chartWrapper {
  border-radius: 8px;
  width: 100%;
}


.tooltip {
  background-color: $white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid $primary;
}
